
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth/
.env
/login.spec.ts-snapshosts/
/product.spec.ts-snapshosts/
/cart.spec.ts-snapshosts/



