
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth/
.env
/tests/cart.spec.ts-snapshots/
/tests/product.spec.ts-snapshots/
/tests/login.spec.ts-snapshots/





